[submodule "vim/bundle/pythoncomplete"]
	path = vim/bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/velocity"]
	path = vim/bundle/velocity
	url = https://github.com/vim-scripts/velocity.vim.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
